# OPENAI API KEY para el motor conversacional
OPENAI_API_KEY

# Nombre de la tienda para el contexto del bot
STORE_NAME="Mi Tienda Online"

# Credenciales para el Panel de Control
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=admin123

# Número de puerto
PORT=3000

# Claves para la subida de imagenes
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET